<footer class="container-fluid pt-4 my-md-5 pt-md-5 border-top primary-color rounded-top-2" data-aos="fade-up" style="direction: rtl; text-align: right;">
  <div class="row">

    <!-- شعار الموقع -->
    <div class="col-12 col-md text-center">
      <p class="display-5 fw-bold text-body-secondary">
        <img src="/logo.jpg" class="img-fluid w-50 rounded-5 px-2">
      </p>
      <small class="d-block mb-3 text-body-secondary">&copy; 2017–2024</small>
    </div>

    <!-- الميزات -->
    <div class="col-6 col-md">
      <h5>المميزات</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">أشياء رائعة</a></li>
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">ميزة عشوائية</a></li>
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">ميزة الفريق</a></li>
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">أدوات للمطورين</a></li>
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">واحدة أخرى</a></li>
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">الأخيرة</a></li>
      </ul>
    </div>

    <!-- الموارد -->
    <div class="col-6 col-md">
      <h5>الموارد</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">مورد</a></li>
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">اسم المورد</a></li>
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">مورد آخر</a></li>
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">المورد الأخير</a></li>
      </ul>
    </div>

    <!-- حول -->
    <div class="col-6 col-md">
      <h5>من نحن</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">الفريق</a></li>
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">المواقع</a></li>
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">الخصوصية</a></li>
        <li class="mb-1"><a class="link-secondary primary-color text-decoration-none" href="#">الشروط</a></li>
      </ul>
    </div>
  </div>
</footer>
