
<div class=" bg-white container vw-100 overflow-hidden">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <P class="mb-3 mb-md-0 text-body-secondary">2025 &copy; الجامعة الوطنية للكشفية المغربية </P><br>
<!--      <br><span class="mb-3 mb-md-0 text-body-secondary">  </span>-->
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary primary-color" href="#">
          <mat-icon class="text-dark  w-100 h-100"><i class="bi bi-youtube"></i></mat-icon>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary primary-color" href="#">
          <mat-icon class="text-dark w-100 h-100"><i class="bi bi-instagram"></i></mat-icon>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary primary-color" href="#">
          <mat-icon class="text-dark w-100 h-100"><i class="bi bi-facebook"></i></mat-icon>
        </a>
      </li>
    </ul>

  </footer>
</div>
