<div class="container-fluid p-2 bg-white sticky-top border-bottom px-5" style="direction: rtl; text-align: right;">

  <div class="d-flex flex-column flex-md-row align-items-center">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
      <img src="/logo.jpg" class="navbar-brand img-fluid" width="60">
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 me-md-auto">
      <a class="ms-3 py-2 link-body-emphasis text-decoration-none" href="#">من نحن</a>
      <a class="ms-3 py-2 link-body-emphasis text-decoration-none" href="#">أنشطتنا</a>
      <a class="ms-3 py-2 link-body-emphasis text-decoration-none" href="#">اتصل بنا</a>
      <a class="py-2 link-body-emphasis text-decoration-none" routerLink="login">
        <mat-icon class="material-symbols-outlined primary-color">account_circle</mat-icon>
      </a>
    </nav>
  </div>

</div>
