<div class="container-fluid p-2 bg-white sticky-top  border-bottom px-5">




    <div class="d-flex flex-column flex-md-row align-items-center ">
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <!--        <span class="fs-4 bg-secondary-subtle"><span class="bg-primary-subtle">F</span>NM <span-->
        <!--          class=" bg-danger-subtle">S</span></span>-->
        <img src="/logo.jpg" class="navbar-brand img-fluid" width="60">
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">À Propos</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Nos Activités</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Contact</a>
        <a class="py-2 link-body-emphasis text-decoration-none" routerLink="login">
          <mat-icon class="material-symbols-outlined primary-color">account_circle</mat-icon>
        </a>
      </nav>
    </div>

</div>
