<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav custom-drawer-width bg-green-color " mode="side" opened="true" position="start">
    <div class="container-fluid side-nav ">
      <mat-list class="mt-2">
        <p class="text-center">
          <img src="/logo-admin.jpg" alt="Logo Scout" width="150px" class="rounded-3 shadow-sm">
        </p>
        <mat-divider class="mt-4"></mat-divider>

        <a [routerLink]="'/admin'">
          <mat-list-item class="d-flex justify-content-start align-items-center">
            <button mat-button class="example-icon text-start d-flex justify-content-start text-white rounded-1" aria-label="Dashboard" style="width: 100%;">
              Tableau de bord
              <mat-icon>dashboard</mat-icon>
            </button>
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>

        <!-- Section Membres -->
        <a [routerLink]="'/admin/members'">
          <mat-list-item class="d-flex justify-content-start align-items-center">
            <button mat-button class="example-icon text-start d-flex justify-content-start text-white rounded-1" aria-label="Membres" style="width: 100%;">
              Gestion des Membres
              <mat-icon>group</mat-icon>
            </button>
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>

        <!-- Section Activités -->
        <a [routerLink]="'/admin/activities'">
          <mat-list-item class="d-flex justify-content-start align-items-center">
            <button mat-button class="example-icon text-start d-flex justify-content-start text-white rounded-1" aria-label="Activités" style="width: 100%;">
              Activités & Projets
              <mat-icon>event</mat-icon>
            </button>
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>

        <!-- Section Camps -->
        <a [routerLink]="'/admin/camps'">
          <mat-list-item class="d-flex justify-content-start align-items-center">
            <button mat-button class="example-icon text-start d-flex justify-content-start text-white rounded-1" aria-label="Camps" style="width: 100%;">
              Gestion des Camps
              <mat-icon>terrain</mat-icon>
            </button>
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>

        <!-- Section Documents -->
        <a [routerLink]="'/admin/documents'">
          <mat-list-item class="d-flex justify-content-start align-items-center">
            <button mat-button class="example-icon text-start d-flex justify-content-start text-white rounded-1" aria-label="Documents" style="width: 100%;">
              Documents & Ressources
              <mat-icon>folder</mat-icon>
            </button>
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>



      </mat-list>
    </div>
  </mat-drawer>

  <div class="example-sidenav-conten">
    <mat-toolbar class="sticky-top bg-green-color">
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon text-white" aria-label="Toggle sidenav">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="text-white">Scout Community Manager</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon text-white" aria-label="Account">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button class="example-icon text-white" aria-label="Logout">
        <mat-icon>logout</mat-icon>
      </button>
      <button mat-icon-button class="example-icon text-white" aria-label="Settings">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Router outlet for dynamic views -->
     <div class="bg-green-color p-2 ">
       <router-outlet ></router-outlet>
     </div>
  </div>
</mat-drawer-container>
