<app-nav-bar></app-nav-bar>
<div class="container-fluid header-carousel text-center rounded-bottom-1 " style="background: url('/feuture2.jpg') fixed center center;">
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="col-lg-12 text-center d-flex flex-column justify-content-around h-100" data-aos="fade-up" data-aos-duration="1500">
<!--    <img src="/logo.jpg" alt="Fédération Marocaine des Scouts Logo" class="w-25 img-fluid mx-auto mb-3">-->
    <h1 class="display-3 fw-bold text-white">Atlas scout Alert</h1>
    <p class="fs-5 text-white">Prêts à réagir, à protéger et à reconstruire en cas d'urgence.</p>
    <p class="fs-6  text-white">Unis pour des communautés résilientes face aux défis.</p>
    <a href="/register" class="btn text-center m-auto bg-primary-color text-white  btn-lg mt-4 shadow-sm " role="button">Rejoindre le Mouvement</a>
  </div>
</div>



<div class="row px-lg-5 d-flex justify-content-center mt-4 text-white" style="position:relative;bottom:5rem;">
  <!-- Programme 1: Formation pour la Résilience -->
  <div
    class="col-lg-3 bg-white green-color d-flex flex-column justify-content-center text-center py-4 mat-elevation-z1"
    data-aos="fade-left"
  >
    <mat-icon class="lg-icon" style="font-size: 60px;">school</mat-icon>
    <h3 class="my-3 fw-light fs-3">Formation pour la Résilience</h3>
    <!--        <p class="my-2 ">-->
    <!--          Des ateliers éducatifs pour développer des compétences essentielles, comme la gestion des crises, les premiers secours, et la prévention des catastrophes.-->
    <!--        </p>-->
  </div>

  <!-- Programme 2: Aide d'Urgence -->
  <div
    class="col-lg-3 d-flex orange-color bg-white flex-column justify-content-center text-center py-4 mat-elevation-z1"
    data-aos="fade-down"
  >
    <mat-icon class="lg-icon" style="font-size: 60px;">local_hospital</mat-icon>
    <h3 class="my-3 fw-light fs-3">Aide d'Urgence</h3>
    <!--        <p class="my-2 ">-->
    <!--          Fourniture de secours immédiats, comme des abris temporaires, des kits alimentaires, et un soutien médical en cas de catastrophes naturelles.-->
    <!--        </p>-->
  </div>

  <!-- Programme 3: Soutien Communautaire -->
  <div
    class="col-lg-3  secondary-color bg-white d-flex flex-column justify-content-center text-center py-4 mat-elevation-z1"
    data-aos="fade-up"
  >
    <mat-icon class="lg-icon" style="font-size: 60px;">volunteer_activism</mat-icon>
    <h3 class="my-3 fw-light fs-3 ">Soutien Communautaire</h3>
    <!--        <p class="my-2 ">-->
    <!--          Mobilisation de ressources et de volontaires pour aider les communautés touchées, avec un accent sur la reconstruction et le bien-être social.-->
    <!--        </p>-->
  </div>
</div>


<main class="container-fluid ">

  <!-- Featurettes Section -->
  <div class="container marketing">
    <!-- Featurette 1: Emergency Leadership -->
    <div class="row featurette">
      <div class="col-md-7" data-aos="fade-right">
        <h2 class=" fw-normal lh-1 primary-color fw-light  my-3 display-4">Leadership en Urgences. <br>
          <span class="orange-color fs-3 ">Former des héros du quotidien</span>
        </h2>
        <p class="lead">
          Nous inspirons les scouts à devenir des leaders en temps de crise, en leur fournissant des compétences pratiques comme la prise de décision rapide, la gestion de groupes et les premiers secours.
        </p>
        <p class="text-muted">#PrêtsPourAider #LeadershipEnAction</p>
      </div>
      <div class="col-md-5" data-aos="fade-left">
        <img src="/urgance.jpg" alt="Leadership Scouts" class="img-fluid rounded-3 shadow">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Featurette 2: Community Relief -->
    <div class="row featurette">
      <div class="col-md-7 order-md-2 m-auto" data-aos="fade-left">
        <h2 class=" fw-normal lh-1 primary-color fw-light  my-3 display-4">Soutien Communautaire. <br>
          <span class="orange-color fs-3 ">Un impact qui fait la différence</span>
        </h2>
        <p class="lead">
          En cas de catastrophes, nos scouts sont formés à répondre efficacement : organisation de distributions de nourriture, aides logistiques et soutien moral pour les communautés affectées.
        </p>
        <p class="text-muted">#ForceDeLaCommunauté #SolidaritéScout</p>
      </div>
      <div class="col-md-5 order-md-1" data-aos="fade-right">
        <img src="/feuture2.jpg" alt="Community Engagement" class="img-fluid rounded-3 shadow">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Featurette 3: Outdoor Emergency Skills -->
    <div class="row featurette  d-flex align-items-lg-start " >
      <div class="col-md-7 m-auto" data-aos="fade-right">
        <h2 class=" fw-normal primary-color fw-light  my-3 display-4">Compétences de Survie. <br>
          <span class="orange-color fs-3 ">Maîtriser la nature en urgence</span>
        </h2>
        <p class="lead">
          Découvrir les bases de la survie en plein air : construire des abris, allumer un feu, s'orienter sans technologie, et faire face aux imprévus en toute autonomie.
        </p>
        <p class="text-muted">#EspritScout #SurvieIntelligente</p>
      </div>
      <div class="col-md-5 my-auto" data-aos="fade-left">
        <img src="/formation.jpg" alt="Outdoor Activities" class="img-fluid rounded-3 shadow">
      </div>
    </div>

    <hr class="featurette-divider">
  </div>


  <!-- Parallax Section -->
  <div
    style="
    background: url('/feuture2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  " class="container-fluid shadow-lg rounded-4">
    <div class="text-center text-dark shadow rounded-3 p-3 " style="background:rgba(255,255,255,0.51);">
      <h1 class="display-4 fw-bold primary-color">Une Aventure Inoubliable</h1>
      <p class="lead">Rejoignez-nous pour découvrir la vie scoute et contribuer à un avenir meilleur.</p>
      <a href="/register" class="btn text-white btn-lg mt-3 shadow-sm bg-primary-color">Rejoindre Maintenant</a>
    </div>
  </div>


  <!-- Contact Section -->
  <section id="contact" class="py-5">
    <div class="container">
      <h2 class="display-4 text-center mb-4">Contactez-Nous</h2>
      <p class="text-muted text-center mb-4">Pour toute question ou information, n'hésitez pas à nous joindre via le formulaire ci-dessous.</p>
      <div class="row">
        <div class="col-md-6">
          <ul class="list-unstyled">
            <li><strong>Adresse :</strong> Avenue des Scouts, Rabat, Maroc</li>
            <li><strong>Téléphone :</strong> +212 5 35 67 89 10</li>
            <li><strong>Email :</strong> conta.ma</li>
          </ul>
          <div class="w-100 ">
            <iframe class="w-100 " height="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d211593.62105263895!2d-6.773402482200384!3d34.04001472554366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda74ba452ff5335%3A0x24fb2232e398016!2sForest%20Ma%C3%A2mora!5e0!3m2!1sen!2sma!4v1734134498347!5m2!1sen!2sma" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-md-6 bg-green-color p-5 rounded-3 shadow-sm">
          <form>
            <div class="mb-3 ">
              <label for="name" class="form-label">Nom</label>
              <input type="text" class="form-control" id="name" placeholder="Votre nom" required>
            </div>
            <div class="mb-3 ">
              <label  class="form-label">Email</label>
              <input type="email" class="form-control" id="mail" placeholder="Votre email" required>
            </div>
            <div class="mb-3 ">
              <label for="message" class="form-label">Message</label>
              <textarea class="form-control" id="message" rows="4" placeholder="Votre message" required></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn text-white bg-primary-color w-50">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>



<app-footer/>
